FILE=${PREFIX}/${jail_name}/etc/rc.conf
echo " $FILE"
cp -p $FILE ${FILE}.org
cat <<++EOS >>$FILE

sshd_enable="YES"
++EOS

if [ -r ${user_flavor}/rc.conf.setting ] ; then
  cat ${user_flavor}/rc.conf.setting >> $FILE
fi
